<h3 style="text-align: center;">{{title}}</h3>
<div class="container">
    <div class="input-group mt-4">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control" [(ngModel)]="user.firstname">
        <input type="text" aria-label="Last name" class="form-control" [(ngModel)]="user.lastname">
    </div>

    <div class="input-group flex-nowrap mt-4">
        <span class="input-group-text" id="addon-wrapping">E-mail</span>
        <input type="email" class="form-control" placeholder="E-mail" aria-label="Username"
            aria-describedby="addon-wrapping" [(ngModel)]="user.email">
    </div>

    <div class="input-group flex-nowrap mt-4">
        <span class="input-group-text" id="addon-wrapping">Age</span>
        <input type="number" class="form-control" placeholder="Age" aria-label="Username"
            aria-describedby="addon-wrapping" [(ngModel)]="user.age">
    </div>
    <br />
    <span class="mt-4 me-4">Gender</span>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" [(ngModel)]="user.gender" value="Male" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Male
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" value="Female" [(ngModel)]="user.gender" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
            Female
        </label>
    </div>
    <div><button (click)="save()" style="text-align: center;" class="btn btn-primary mt-4" type="submit">Button</button></div>
</div>