<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #57b846;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" [ngClass]="{active:navSelected == ''}" (click)="navSelected=''">DigitalBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" [ngClass]="{active:navSelected == ''}" (click)="navSelected=''">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search" [ngClass]="{active:navSelected == 'search'}" (click)="navSelected='search'">Search</a>
        </li>
        <li class="nav-item"
          *ngIf="userService.roleMatch('Author')">
          <a class="nav-link" routerLink="addBook" [ngClass]="{active:navSelected == 'addBook'}" (click)="navSelected='addBook'">Add Book</a>
        </li>
        <li class="nav-item"
        *ngIf="userService.roleMatch('Author')" >
        <a class="nav-link" routerLink="getAuthorBooks" [ngClass]="{active:navSelected == 'getAuthorBooks'}" (click)="navSelected='getAuthorBooks'">get All Books</a>
      </li>
        <li class="nav-item"
        *ngIf="userService.roleMatch('Reader')" >
          <a class="nav-link" routerLink="getBooks" [ngClass]="{active:navSelected == 'getBooks'}" (click)="navSelected='getBooks'">List of Books subscibed</a>
        </li>
      </ul>
      <button type="button" *ngIf="!isLoggedIn()" class="btn btn-primary" routerLink="signup" style="margin-right: 27px;border-radius: 27px;font-weight: 500;">Sign Up</button>
      <button type="button" *ngIf="!isLoggedIn()" class="btn btn-primary" routerLink="login" style="border-radius: 27px;font-weight: 500;">Sign In</button>
      <button type="button" *ngIf="isLoggedIn()" class="btn btn-danger" (click)="logout()" style="border-radius: 27px;font-weight: 500;">Logout</button>
    </div>
  </div>
</nav>

